environment                = "demo"
enable_github_actions_oidc = true
github_repository          = "mmetznerm/vehicle-maintenance-history"
enable_nat_gateway         = true
enable_eks_cluster         = true
eks_cluster_name           = "autolog-demo"
eks_node_subnet_tier       = "private_app"
