aws_region      = "us-east-1"
app_name        = "vehicle-maintenance-history"
deployment_name = "autolog"
environment     = "shared"

github_repository          = "mmetznerm/vehicle-maintenance-history"
enable_github_actions_oidc = false

enable_vpc           = false
vpc_cidr             = "10.40.0.0/16"
availability_zones   = ["us-east-1a", "us-east-1b"]
public_subnet_cidrs  = ["10.40.0.0/24", "10.40.1.0/24"]
private_subnet_cidrs = [
  "10.40.10.0/24",
  "10.40.11.0/24"
]

enable_rds                  = false
rds_database_name           = "autolog"
rds_master_username         = "autolog_admin"
rds_engine_version          = null
rds_instance_class          = "db.t4g.micro"
rds_allocated_storage       = 20
rds_max_allocated_storage   = 100
rds_backup_retention_period = 7

enable_eks                  = false
eks_cluster_name            = "autolog"
eks_cluster_version         = null
eks_endpoint_private_access = true
eks_endpoint_public_access  = true
eks_node_instance_types     = ["t3.small"]
eks_node_desired_size       = 2
eks_node_min_size           = 1
eks_node_max_size           = 3
eks_node_disk_size          = 20
eks_addons                  = []
eks_admin_principal_arns    = []
eks_deploy_principal_arns   = []
enable_eks_oidc_provider    = false
